.bg-image{
   background-image: url('/assets/bookstore.jpeg');
   height: 100vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

a{
   color: white;
   font-weight: 400;
   font-size: larger;
   
}

a:hover{
   color:rgba(242, 237, 86, 0.944);
   
   
   
}

