<div class="container-fluid sticky-top " style="background-color: black;">
  <nav class="h-50" >
    <div class="container-fluid  " >
      <a class="navbar-brand fw-bold fs-1 ms-3 text-danger " href="#">Marvel</a>
    </div>
  
    
    <ul class="nav justify-content-center pe-5">
      <li class="nav-item">
        <a class="nav-link active marvel" aria-current="page" routerLink="/books"
          >Books</a
        >
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/location">Location</a>
      </li>
    </ul>
  
    
  </nav>
</div>



<!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://cdn.marvel.com/content/1x/clean_462.jpg" class="d-block w-50 h-25" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="..." class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<!-- background-image -->

<div class="bg-image">

</div>


