/* .bg-image{
   background-image: url('/assets/bookstore.jpeg');
   height: 50vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
} */

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


a .navbar-brand{
   background-color: #d93931;
   
}

a{
   color: rgb(196, 68, 68);
   font-family: 'Black Ops One', cursive;
   font-weight: 400;
   font-size: 50px;
   text-shadow: -1px 1px rgb(81, 45, 227);

   
}

a:hover{
   color:#d93931;

}


