/* .bg-image{
   background-image: url('/assets/bookstore.jpeg');
   height: 50vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
} */


a{
   color: white;
   font-weight: 400;
   font-size: larger;
   
}

a:hover{
   color:#d93931;

}


