<div class="container-fluid sticky-top " style="background-color: black;">
  <nav class="h-50" >
    <div class="container-fluid  " >
      <a class="navbar-brand fw-bold fs-1 ms-3 text-danger " href="#">Marvel</a>
    </div>
  
    
    <ul class="nav justify-content-center pe-5">
      <li class="nav-item">
        <a class="nav-link active marvel" aria-current="page" routerLink="/books"
          >Books</a
        >
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/about-us">About Us</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/location">Location</a>
      </li>
    </ul>
  
    
  </nav>
</div>






<!-- background-image -->

<div class="bg-image">

</div>


