
<div class="container-fluid">
  <div class="row" >
    <div class="col-md-2"></div>

    <div class="col-md-8 text-bg-danger text-decoration-none"><h1>Breaking News</h1>
     
        <a href="" routerLink="/books" class="text-decoration-none"> <h2>Read More</h2></a> 
    </div>

    <div class="col-md-2"></div>

     
  </div>

  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img src="/assets/news3.jpeg" class="d-block w-100 h-100 " alt="...">
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
  

   