@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


a {
   background-color: #090909;
   
}

a{
   color: rgb(241, 238, 238);
   font-family: 'Black Ops One', cursive;
   font-weight: 400;
   font-size: 25px;
   text-shadow: 1px 2px rgb(53, 42, 145);

   
}

a:hover{
    color:#d93931;
 
 }
 