<div class="row pt-5">
  <div class="col-md-2 col-xs-2">
    <img src="/assets/log.jpeg" alt="" class="  w-75 h-75 ps-5" />
  </div>

  <div class=" col-md-3">
    <ul class="list-unstyled pt-3">
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small>About Marvel</small>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small>HELP/FAQS</small>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small class="fs-6">CAREERS</small>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small>INTERNSHIPS</small>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-2">
    <ul class="list-unstyled pt-3">
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small>ADVERTISING</small>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small>DISNEY+</small>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small>MARVELHQ.COM</small>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <small>REDEEM DIGITAL COMICS</small>
        </a>
      </li>
    </ul>
  </div>
<div class="col-md-2"></div>

  <div class="col-md-2">
    <ul class="list-unstyled pt-">
      <small class="text-light">Follow Marvel</small>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
        <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
        <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
        <i class="fa-brands fa-pinterest"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
