<div class="row pt-5">
  <div class="col-md-2">
    <img src="/assets/log.jpeg" alt="" class="w-75 h-75 ps-5" />
  </div>

  <div class="col-md-3">
    <ul class="list-unstyled pt-3">
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>About Marvel</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>HELP/FAQS</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6 class="fs-6">CAREERS</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>INTERNSHIPS</h6>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-2">
    <ul class="list-unstyled pt-3">
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>ADVERTISING</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>DISNEY+</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>MARVELHQ.COM</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>REDEEM DIGITAL COMICS</h6>
        </a>
      </li>
    </ul>
  </div>
<div class="col-md-2"></div>

  <div class="col-md-2">
    <ul class="list-unstyled pt-3">
      <h6 class="text-light">Follow Marvel</h6>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>About Marvel</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>HELP/FAQS</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6 class="fs-6">CAREERS</h6>
        </a>
      </li>
      <li>
        <a
          href=""
          routerLink="/aboutus"
          class="text-decoration-none text-light"
        >
          <h6>INTERNSHIPS</h6>
        </a>
      </li>
    </ul>
  </div>
</div>
