/* You can add global styles to this file, and also import other style files */
body {
  padding: 0px;
  margin: 0px;
}

* {
  background-color: rgb(11, 11, 11);
}

.ngx-pagination {
  padding-left: 0px !important;
  color: aliceblue;
  border-radius: 50px !important;
}

.ngx-pagination .current {
  background: #050505f1 !important;
  border: 2px solid #d93931;
  border-radius: 50% !important;
}

.ngx-pagination a:hover {
  background: #050505f1 !important;
  border: 2px solid #f6f6ecf1;
  border-radius: 50% !important;
}
