/* You can add global styles to this file, and also import other style files */
body{

    padding:0;
    margin:0;
}

*{
    
    background-color: rgb(11, 11, 11);
   
    font-family:sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.ngx-pagination {
    padding-left: 0px !important;
    color: aliceblue;
    border-radius: 50px!important;
  }
  
  .ngx-pagination .current{
    background: #050505f1 !important;
    border: 2px solid #d93931;
    border-radius: 50% !important;
  }
  
  .ngx-pagination a:hover {
    background: #050505f1 !important;
    border: 2px solid #f6f6ecf1;
    border-radius: 50% !important;
    
  }

  /* @font-face {
    font-family: myFirstFont;
    src:local("/src/assets/font/Marvel-Regular.woff")format('woff2');
}

.marvel{
    font-family: myFirstFont, sans-serif;
} */

